[Unit]
Description=Run monitor_test every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=monitor_test.service

[Install]
WantedBy=timers.target